{% extends "base.html" %} {% block content %}

<hr /> {% if post|length == 0 %}

<p>No posts yet</p>
{% else %}

<ul style="list-style-type:none;">
    {% for posts in post %}
    <li>
        <h2><a name="blogid" value='{{posts.id}}' href='/blog?id={{posts[0].id}}' method="GET"> {{posts[0].post_name}}</a> </h2>
        <p>Author:<a href='/blog?user={{posts[1].id}}'>{{posts[1].username}}</a></p>
        <p>{{posts[0].post_content}}</p>
        <hr>
    </li>
    {% endfor %}

</ul>

{% endif %} {% endblock %}