<!DOCTYPE html>
<html>


<head>
    <title></title>
    <style type="text/css">
        .error {
            color: red;
        }
        
        h1 {
            align-content: center
        }
    </style>
</head>

<body>

    <h1>Build-a-blog</h1>
    <p>
        <a href="/blog">Blog Home</a>
        <a href="/newpost">New Blog Post</a>
        <a href="/logout">Logout</a>
        <a href="/login">Login</a>
        <a href="/">Home</a>
    </p>


    {% block content %}

    <hr />

</body>

</html>
{% endblock %}