{% extends "base.html" %} {% block content %}


<header>
    <h1>Login</h1>
</header>
<form method='post'>
    <table>
        <tbody>
            <tr>
                <td><label>Username</label></td>
                <td><input type="text" name="username" placeholder='username' value='{{username}}'>
                    <span class="error">{{username_error}}</span>
                </td>
            </tr>

            <tr>
                <td><label>Password</label></td>
                <td><input name="password" type="password" /><span class="error">{{password_error}}</span></td>
            </tr>

            <tr>
                <td><label>Verify Password </label></td>
                <td><input name="password_confirm" type="password" />
                    <span class="error">{{validation_error}}</span>
                </td>
        </tbody>
    </table>
    <input type="submit" value='Continue' />
</form>
{% endblock %}